        .navigation ul{
            display: flex;
            /*togliere il padding e il list-style*/
        }
        .test{
            background-image: url();
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            flex-wrap: nowrap;
        }
        .container2{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            flex-wrap: nowrap;
        }
        .test{
            margin-left: 35px;
            margin-top: 20;

        }
        .text{
            text-align: center;

        }
        .linee{
            position: absolute;
            width: 1057px;
            height: 0px;
            left: 320.5px;
            top: 310.75px;
            border: 1px solid #343434;
            opacity: 1;
        }
        .linee1{
            position: absolute;
            width: 1057px;
            height: 0px;
            left: 320.5px;
            top: 310.75px;
            border: 1px solid #343434;
            opacity: 1;
        }
        .page{
            font-size: 80px;
            color: white;
        }
        .linee2{
            width: 500px;
        }
        .testo{
            font-size: 30px;
            color: white;
        }
